body{
    padding-top: 100px;
}
.right{
    display: flex;
    float: right;
    width: 20%;
}
.left{
    width: 75%;
    height: auto;
    border-right: 1px solid rgb(226, 217, 217);
    float: left;
    flex-direction: column;
}