/* Tổng thể */  
body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f0f0f0; 
    padding-top: 90px; 
}  

/* Container */  
.container {  
    display: flex;  
    max-width: 1200px;  
    margin: 0 auto;    
}  

/* Sidebar */  
.sidebar {  
    width: 200px;  
    padding-right: 20px;  
}  


.sidebar h2 {  
    margin-top: 0;  
    font-weight: bold;  
    color: #ff5e24;  
}  

.sidebar ul {  
    list-style-type: none;  
    padding: 0;  
}  

.sidebar li {  
    margin-bottom: 5px;  
    background-color: #fff;  
    border-radius: 10px;  
    cursor: pointer;  
    transition: background-color 0.3s, color 0.3s;  
}  

.category-button {  
    display: block;  
    width: 100%;  
    margin-bottom: 10px;  
    font-size: 16px;  
    color: #333;  
    background-color: white;  
    border-radius: 10px;  
    text-align: left;  
    transition: all 0.3s ease;  
    border: none;  
    padding: 8px 0px;  
}  

#category-list li a {  
    border-radius: 10px;  
    font-weight: bold;  
    text-decoration: none;  
    padding-left: 10px;  
    color: #ff7f50;  
}  

.category-button:hover {  
    background-color: #ff7f50;  
}  

#category-list li a:hover {  
    color: white;  
}  

/* Content */  
.content {  
    padding: 0 20px;
    flex: 1;  
    display: flex; 
    flex-wrap: wrap;  
    gap: 25px;  
    justify-content: space-between; /* Đảm bảo các item bắt đầu từ bên trái */
}
 

/* Recipe Card */  
.recipe-card {
    flex: 1 1 calc(33.3333% - 20px); /* Điều chỉnh kích thước cơ bản và khoảng cách */
    max-width: calc(32% - 20px); /* Đảm bảo kích thước tối đa */
    background-color: white;  
    border-radius: 10px;  
    overflow: hidden;  
    transition: transform 0.3s, box-shadow 0.3s;  
    height: 350px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cfcfcf;
    box-shadow: 0 8px 16px rgba(255, 144, 104, 0.5);
    margin-bottom: 25px; /* Đảm bảo khoảng cách giữa các hàng */
} 

.content::after {
    content: '';
    flex: 1 1 calc(30% - 20px); /* Điều chỉnh kích thước cơ bản và khoảng cách */
    max-width: calc(32% - 20px); /* Đảm bảo kích thước tối đa */
}

.recipe-card:hover {  
    transform: scale(1.02);  
    box-shadow: 0 8px 16px rgba(255, 127, 80, 0.5);   
    border: 2px solid #ff7f50;
}  

.recipe-image {  
    margin-top: 30px;
    width: 100%;  
    height: 150px;  
    object-fit: cover;  
    transition: transform 0.5s;  
    width: 100%;
    border-radius: 8px;
}  

.recipe-card:hover .recipe-image {  
    transform: scale(1.1);  
}  

.recipe-info {   
    padding: 15px; 
    text-align: center;
    margin-top: 10px;
}  

.recipe-info h3 { 
    color: #ff5e24; 
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 30px;
}  

.recipe-meta {  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    color: #666;
}  

.recipe-meta span {
    font-weight: bold;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}



/* Overlay styling */  
.product-overlay {  
    position: fixed;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.5);  
    display: none;  
    z-index: 10;  
}  
  
.product-detail-form {  
    position: fixed;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    background-color: white;  
    border-radius: 10px;  
    padding: 30px; 
    width: 500px; 
    max-width: 90%;  
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);  
    z-index: 20;  
    display: none;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
} 


.detail-content {  
    display: flex;  
    align-items: flex-start;  
    gap: 20px;  
}  

.detail-image {  
    width: 200px;  
    height: auto;  
    border-radius: 10px;  
}  

.detail-info {  
    display: flex;  
    flex-direction: column;  
}  

.product-name {  
    font-size: 1.5em;  
    color: #ff5e24;  
}  

.product-description {  
    color: #555;  
    margin: 10px 0;  
}  

.product-price {  
    font-size: 1.2em;  
    color: #ff5e24;  
    font-weight: bold;  
    margin: 10px 0;  
}  

.quantity-control {  
    display: flex;  
    align-items: center;  
    margin: 10px 0;  
}  

.quantity-btn {  
    background-color: #ff7f50;  
    border: none;  
    color: white;  
    padding: 5px 10px;  
    cursor: pointer;  
    border-radius: 5px;  
}  

.quantity-input {  
    width: 50px;  
    text-align: center;  
    margin: 0 10px;  
}  

.add-to-cart-button {  
    background-color: #ff7f50;  
    border: none;  
    padding: 10px;  
    border-radius: 5px;  
    color: white;  
    cursor: pointer;  
    width: auto; 
    margin-top: 15px;  
    position: absolute; /* Định vị tuyệt đối */  
    right: 20px; /* Khoảng cách từ bên phải */  
    bottom: 20px; /* Khoảng cách từ đáy */  
}

/* Close Button */  
.product-detail-form .close-button {  
    position: absolute;  
    top: 10px;  
    right: 10px;  
    font-size: 1.5em;  
    color: #ff5e24;  
    cursor: pointer;  
    font-weight: bold;  
}

.background-header{
    width: 100%;
    height: 475px;
    overflow: hidden;
    position: relative;
}
.background-header-img,
.banner_product{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.background-header-img.move-right {
    animation: moveRight 1s forwards;